.shop-outer {
  display: flex;
  position: relative;
  width: 80%;
  margin: 100px auto 0;
  min-height: 960px;
  justify-content: flex-start;
  align-items: flex-start;
}
.store-items-section {
  padding: 30px 70px 0 10px;
  width: 80%;
  margin: 60px auto;
  display: flex;
  gap: 50px;
  justify-content: center;
  flex-wrap: wrap;
}

@media (max-width: 600px) {
  .shop-outer {
    flex-direction: column;
    min-height: none;
  }
  .store-items-section {
    padding-right: 0;
    padding-left: 0;
    justify-content: space-around;
  }
}
