.list-outer {
  max-height: 300px;
  overflow: auto;
  margin-bottom: 50px;
}
.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
.item-amount-space {
  min-width: 50px;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.item-amount-space h4 {
  /* margin: 0; */
  margin: 10px 0;
}
.item-amount-space button {
  margin: 5px;
  min-width: 35px;
  min-height: 35px;
  border-radius: 50%;
  border: none;
}
.buttons-container button {
  cursor: pointer;
}
