.cartItemsList {
  max-height: 300px;
  overflow: auto;
  padding: 15px 15px 0;
}
.cartItemsList::-webkit-scrollbar {
  width: 10px;
}
.cartItemsList::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #7f7f7f;
}
.itemSpace_itemName {
  text-align: left;
}
.cartItemsList_itemSpace {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px 0;
  border-bottom: 1px solid #7f7f7f;
  flex-direction: column;
}
.cartItemsList_itemSpace:nth-last-child(1) {
  border-bottom: none;
}
.itemSpace_amountSpace {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.itemSpace_amountSpace h4 {
  margin: 10px 0;
}
.amount_buttonsSpace button {
  margin-right: 5px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
.amount_buttonsSpace button:hover {
  filter: brightness(0.8);
}
.amount_buttonsSpace button:active {
  background-color: #7f7f7f;
}

@media screen and (min-width: 600px) {
  .cartItemsList_itemSpace {
    flex-direction: row;
    align-items: center;
  }
  .itemSpace_amountSpace {
    flex-direction: column;
    justify-content: flex-end;
    width: auto;
  }
  .cartItemsList_itemSpace {
    padding: 10px;
  }
}
