.header-stipe-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgba(45, 45, 45, 1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 14;
  width: 100%;
  box-sizing: border-box;
}
.header-title {
  font-family: sans-serif;
  color: #fafafa;
}
.header-cart {
  background-color: transparent;
  border: 2px solid #5dbb63;
  padding: 5px 25px;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: rgb(200, 200, 200);
}
.header-cart i {
  display: inline-block;
  margin: 0 5px;
  font-size: 1.3rem;
}
.header-cart p {
  display: none;
}
.header-cart:hover {
  background-color: #5dbb63;
  color: #f2f2f2;
}
.header-photo-container {
  height: 500px;
  background-image: url("../../assets/meals.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 87.8px 0 50px;
}

@media (min-width: 560px) {
  .header-stipe-container {
    padding: 10px 70px;
  }
  .header-cart {
    background-color: transparent;
    border: 2px solid #5dbb63;
    padding: 5px 25px;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  .header-cart p,
  i {
    display: inline-block;
    margin: 0 15px;
    font-size: 1.3rem;
  }
}
