.headerContainer_photoContainer {
  height: 500px;
  position: relative;
  background-image: url("../../assets/meals.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 10rem 0 0;
}

.photoContainer_titleSpace {
  width: 90%;
  height: 438px;
  text-align: center;
  margin: 0 auto;
  border-radius: 20px;
  padding: 1.5rem;
  background-color: rgba(60, 65, 60, 1);

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.titleSpace_title {
  font-size: 2rem;
  color: rgb(200, 200, 200);
  padding: 1rem 0;
}
.titleSpace_desc {
  font-size: 1.3rem;
  color: rgb(200, 200, 200);
  padding: 1rem 0;
}

@media (min-width: 600px) {
  .photoContainer_titleSpace {
    max-width: 600px;
    padding: 25px;
  }
}
