.headerContainer_navContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(45, 45, 45, 1);
  padding: 1rem 0;

  position: sticky;
  top: 0;
  left: 0;
  z-index: 4;
  width: 100%;
}

.navContainer_title {
  color: #fff;
  transition: all 0.3s ease;
}

.navContainer_title-hover:hover {
  color: #5dbb63;
}

.navContainer_cart {
  background-color: transparent;
  border: 2px solid #5dbb63;
  border-radius: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: rgb(200, 200, 200);
  transition: all 0.3s ease;
}

.cart_title,
.cart_productCount,
.cart_icon {
  font-size: 1.3rem;
}

.navContainer_cart i:nth-child(1) {
  padding: 0.7rem 1.75rem;
}

.navContainer_cart .cart_title,
.navContainer_cart .cart_productCount {
  display: none;
}

.navContainer_cart:hover {
  background-color: #5dbb63;
  color: #f2f2f2;
}

@media (min-width: 600px) {
  .headerContainer_navContainer {
    padding: 1rem 4rem;
    justify-content: space-between;
  }

  .navContainer_cart .cart_title,
  .navContainer_cart .cart_productCount {
    display: inline-block;
  }

  .navContainer_cart i:nth-child(1),
  .navContainer_cart span:nth-child(3) {
    padding: 0.6rem 1.75rem;
  }
}
