.defaultButton {
  display: inline-block;
  padding: 0.45rem 1rem;

  font-size: 1.3rem;
  background-color: #fff;
  border-radius: 1rem;
  border: 1px solid rgba(50, 50, 50, 0.2);
  background-color: rgba(130, 220, 130, 0.9);

  cursor: pointer;
  transition: all 0.3s ease;
}

.defaultButton-cart {
  padding: 0.45rem 1.25rem;
  margin-left: 1rem;
}

.defaultButton-unavailable {
  background-color: rgba(100, 200, 100, 0.9);
}

.defaultButton:hover {
  filter: brightness(0.8);
}

.defaultButton:disabled {
  cursor: auto;
  background-color: rgba(50, 50, 50, 0.1);
}
